<html>
    <head>
        <title>fal's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Fal's Blog</a></h1>
        </div>

        <div>
            <p>published* 26.4.2020, 20:31</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは！　宜しくお願いします！</p>
        </div>
        <div>
            <p>公開日: 2020/4/26, 20:33</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p>　こんにちは！　宜しくお願いします！　</p>
        </div>
    </body>
</html>